@import 'tailwindcss';
@import './typography.css';

@theme {
  /* ===== Colors ===== */

  /* Gray */
  --color-g-0: #ffffff;
  --color-g-20: #f3f6fc;
  --color-g-40: #e7edf8;
  --color-g-60: #d8e1ee;
  --color-g-80: #a8b4c6;
  --color-g-100: #7d889a;
  --color-g-200: #667083;
  --color-g-300: #5e646f;
  --color-g-400: #3c424b;
  --color-g-500: #313743;
  --color-g-600: #2a2f39;
  --color-g-700: #1f2028;
  --color-g-800: #181920;
  --color-g-900: #0f1013;

  /* Red */
  --color-r-50: #fdf0ed;
  --color-r-75: #f6c1b5;
  --color-r-100: #f3a797;
  --color-r-200: #ee816a;
  --color-r-300: #ea674b;

  /* Blue */
  --color-b-50: #f2fafd;
  --color-b-75: #c9e8f8;
  --color-b-100: #b2dff6;
  --color-b-200: #91d1f2;
  --color-b-300: #7bc8ef;

  /* Pink */
  --color-p-50: #fffafc;
  --color-p-75: #fee8f1;
  --color-p-100: #fedfec;
  --color-p-200: #fdd1e4;
  --color-p-300: #fdc8de;

  /* Green */
  --color-gr-50: #eaf8f2;
  --color-gr-75: #a8e1c8;
  --color-gr-100: #85d5b2;
  --color-gr-200: #50c291;
  --color-gr-300: #2cb67a;

  /* Violet */
  --color-v-50: #f9f6fe;
  --color-v-75: #e8dbfb;
  --color-v-100: #dfcdfa;
  --color-v-200: #d1b7f8;
  --color-v-300: #c7a8f6;

  /* Yellow */
  --color-y-50: #fdf8da;
  --color-y-75: #fde26a;
  --color-y-100: #fecd00;
  --color-y-200: #ffbf0f;
  --color-y-300: #8a600a;
  --color-primary-base: #ffeb98;

  /* Semantic Colors */
  --color-primary: var(--color-primary-base);
  --color-primary-hover: var(--color-y-100);

  /* ===== Typography ===== */
  --font-family-base: var(--font-noto-sans-kr), -apple-system, sans-serif;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-size-28: 1.75rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-17: 1.0625rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-13: 0.8125rem;
  --font-size-12: 0.75rem;

  --line-height-148: 1.48;
  --line-height-130: 1.3;
  --line-height-120: 1.2;

  --letter-spacing-tight: -0.035em;

  /* ===== Radius ===== */
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;

  /* Semantic radius */
  --radius-sm: var(--radius-4);
  --radius-md: var(--radius-8);
  --radius-lg: var(--radius-12);

  /* ===== Shadow ===== */
  --shadow-3: 0 8px 15px 0 rgba(0, 0, 0, 0.05);

  /* Semantic shadow */
  --shadow: var(--shadow-3);
}

.scrollbar-transparent-track {
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
  scrollbar-color:
    color-mix(in srgb, var(--color-g-0) 25%, transparent) transparent;
}

.scrollbar-transparent-track::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-transparent-track::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-transparent-track::-webkit-scrollbar-thumb {
  background-color: color-mix(
    in srgb,
    var(--color-g-0) 25%,
    transparent
  );
  border-radius: 999px;
  border: 3px solid transparent;
  background-clip: content-box;
}
